<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.junw.pao.dao.UserTeamEODao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="my.junw.pao.entity.UserTeamEO">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="teamId" property="teamId" />
        <result column="joinTime" property="joinTime" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="isDelete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userId, teamId, joinTime, createTime, updateTime, isDelete
    </sql>

</mapper>
